.logo {
    text-decoration: none;

    &--blue,
    &--black,
    &--white {
            font-family: var(--logo-font);
            font-weight: 700;
            font-size: 26px;
            line-height: 1;
    
            /* identical to box height */
            letter-spacing: 0.03em;
        }
}

.logo--blue {
    color: var(--blue);
}

.logo--black {
    color: black;
}

.logo--white {
    color: var(--white);
}