.logo {
    text-decoration: none;

    &--blue,
    &--black,
    &--white {
            font-family: var(--logo-font);
            font-weight: 700;
            font-size: 26px;
            line-height: 1;
            letter-spacing: 0.03em;
        }
}

.logo--blue {
    color: var(--main-color);
}

.logo--black {
    color: var(--secondary-color);
}

.logo--white {
    color: var(--transparent-fill);
}